 
<!DOCTYPE html>
<html>
      <head>
           <title>  new Project</title>
           <link rel="stylesheet"  href="css/style.css" />
      </head>

      <body>
       <header>
        <img src="./image/images.png" alt="" class="logo">
        <nav>
          <ul class="nav_link">
            <li><a href="#">Service </a></li>
            <li><a href="#">project </a></li>
            <li><a href="#">About </a></li>
          </ul>
        </nav><!--end nav-->
        <button>Send</button>
     </header><!--header-->

      </body>
</html>