<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <h2>{{>header}} </h2>
    <div class="Weather_data">
        <h2>The Country Name          :: {{country}}</h2>
        <h2>The latation Of Country   :: {{latation}}</h2>
        <h2>The longation Of Country  :: {{longation}}</h2>
        <h2>The Temperatur of country :: {{fortest}}</h2>
    </div>
 </body>
</html>